# SQL Examples using SQLAlchemy in Python

Summary: SQLAlchemy will be used to demonstrate SQL queries.

SQLAlchemy features:
- Supported platforms: Python, Jython, Pypy
- Various SQL databases are supported including dialects for SQLite, Postgresql, MySQL, Oracle, MS-SQL, Firebird, Sybase and others, most of which support multiple DBAPIs.
- Reference: https://www.sqlalchemy.org/features.html

## 1. Basic workflow

In [ ]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create the database engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Use context manager to connect to the engine and skip manually closing the connection
with engine.connect() as con:
    # query the database by selecting columns
    rs = con.execute("SELECT * FROM Employees")
    # save results as pandas dataframe and select 5 rows with size argument
    df = pd.DataFrame(rs.fetchmany(size=5))
    # set column names
    df.columns = rs.keys()
    
# EDA
print(len(df))
print(df.head())

## 2. Condensed code (vs Basic workflow) to pandas dataframe

In [ ]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query("SELECT * FROM Employees", engine)